@page "/experience"

@inject IStringLocalizer<Experience> localizer
<PageTitle>Experience</PageTitle>

<div class="page-title-box">
    <h4 class="page-title">@localizer["exp"]</h4>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <div calss="row">
                    <h5 class="page-title">
                        @localizer["work3Company"]
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["companyActivitiesType"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work3CompanyActivitiesType"]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["technology"]
                    </div>
                    <div class="col-md-9">
                        C# .NET, .NET Core, Azure, Windows Form, SQL
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["team"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work3Team"]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["activitiesType"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work3ActivitiesType"]
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row pt-4">
            <div class="col-md-10">
                <div calss="row">
                    <h5 class="page-title">
                        @localizer["work2Company"]
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["companyActivitiesType"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work2CompanyActivitiesType"]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["technology"]
                    </div>
                    <div class="col-md-9">
                        ASP.NET Core,NET, Azure, Blazor, WinUI, HTML, JS, CatGPT
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["team"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work2Team"]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["activitiesType"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work2ActivitiesType"]
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row pt-4">
            
            <div class="col-md-10">
                <div calss="row">
                    <h5 class="page-title">
                        @localizer["work1Company"]
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["companyActivitiesType"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work1CompanyActivitiesType"]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["technology"]
                    </div>
                    <div class="col-md-9">
                        C# .NET, .NET Core, SignalR, Hangfire, SQL , ReportBuilder ,MVC, Windows Form ,Blazor, HTML, CSS, JS, JQuery
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["team"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work1Team"]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @localizer["activitiesType"]
                    </div>
                    <div class="col-md-9">
                        @localizer["work1ActivitiesType"]
                    </div>
                </div>
            </div>
            
        </div>    
    </div>
</div>

@code {

}
